<div class="content">

  <h4>Checkout</h4>

  <form [formGroup]="formGroup" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-horizontal-stepper #stepper="matHorizontalStepper" formArrayName="formArray" linear>
      <mat-step formGroupName="0" [stepControl]="formArray.get([0])">
        <h5>Shipping</h5>
        <p>(required fields *)</p>
        <ng-template matStepLabel>Shipping Info</ng-template>
        <mat-form-field>
          <input matInput placeholder="First name" formControlName="fname" [(ngModel)]="fname" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last name" formControlName="lname" [(ngModel)]="lname" required>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput placeholder="Address 1" formControlName="addr1" [(ngModel)]="addr1" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Address 2" formControlName="addr2" [(ngModel)]="addr2">
          </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-select placeholder="Choose your state" formControlName="state" [(ngModel)]="selectedState" required>
            <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="City" formControlName="city" [(ngModel)]="city" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput #zipcode placeholder="Zip Code" formControlName="zip" maxlength="5" [(ngModel)]="zip" required>
          <mat-hint align="end">{{zipcode.value.length}} / 5</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input type="tel" matInput placeholder="Phone Number" formControlName="phone" maxlength="10" [(ngModel)]="phone" required>
        </mat-form-field>
        <div>
          <button mat-button (click)="fillAddress()" type="button">Use saved address</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
      <mat-step formGroupName="1" [stepControl]="formArray.get([1])">
        <h5>Payment</h5>
        <ng-template matStepLabel>Payment Info</ng-template>
        <p>* Sorry! We only accept payment via Paypal by this point.</p>
        <mat-radio-group formControlName="payment" required>
          <mat-radio-button value="credit" disabled="true">Credit Card</mat-radio-button>
          <mat-radio-button value="paypal">Paypal</mat-radio-button>
        </mat-radio-group>
        <br><br>
        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Place Order</ng-template>
        <h5>Review Your Order</h5>
        <div class="reviewbox">
          <div class="upper">
              <div class="left">
                <b>Shipping Address: </b><br>       
                {{fname}} {{lname}}<br>
                {{addr1}}<br>
                {{addr2}}<br>
                {{phone}}<br>
                {{city}}, {{selectedState}}, {{zip}}<br>
              </div>
              <div class="right">
                <b>Payment method: </b> PayPal
              </div>
          </div>
          <div class="lower">
            <mat-table #table [dataSource]="dataSource">
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>
              <!-- Quantity Column -->
              <ng-container matColumnDef="quantity">
                <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
              </ng-container>
              <!-- Price Column -->
              <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef> Unit Price </mat-header-cell>
                <mat-cell *matCellDef="let element"> ${{element.price}} </mat-cell>
              </ng-container>
            
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <br>
            <h5>Subtotal: $ {{subTotal}}</h5>
          </div>    
          <br>
        </div>
        <div>
          <button mat-button (click)="stepper.reset()">Clear form</button>
          <button mat-button>Place your order</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
  

</div>

