<div>
    <mat-toolbar class="fixed-header" color="primary">
        <mat-toolbar-row>
            <a mat-button routerLink="/"><mat-icon>home</mat-icon></a>
            <span class="spacer"></span>
            <a mat-icon-button routerLink="/cart"><mat-icon>shopping_cart</mat-icon></a>

            <span *ngIf="statusCode != 200">
                <button mat-button (click)="openSignin()">Sign In</button>
                <button mat-button (click)="openSignup()">Sign Up</button>
            </span>
            <span *ngIf="statusCode === 200">
                <a mat-icon-button routerLink="/dashboard"><mat-icon>account_box</mat-icon></a>
            </span> 
        </mat-toolbar-row> 
    </mat-toolbar>
</div>
<router-outlet></router-outlet>

