<div style="text-align:center">
  
      <div class="page-container">
          <div class="left-container">
             <img class="product-img" src="{{product?.img}}" alt="Product Image">
          </div>

          <div class="right-container">
              <mat-card-title>{{product?.name}}</mat-card-title>
              <mat-card-title>${{product?.price}}</mat-card-title>
        
              <span *ngIf="product?.stock > 0" class="in-stock">In Stock</span>
              <span *ngIf="product?.stock == 0" class="out-of-stock">Out of Stock</span>
              <p>${{product?.desc}}</p>
          </div>

      </div>
  </div>
