<div class="content">
  
  <div class="page-container">
    <div class="left-container">
      <h4>Shopping Cart</h4>

      <div class="left-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="ds">

        <!-- Product Column -->
        <ng-container matColumnDef="product">
          <mat-header-cell  *matHeaderCellDef>Product</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            {{element.product}} 
          </mat-cell>

        </ng-container>
    
        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
          <mat-cell *matCellDef="let element" > 
            <button mat-icon-button color="primary" (click)="reduceByOne(element.quantity)">
              <mat-icon>remove</mat-icon>
            </button>
            {{element.quantity}} 
            <button mat-icon-button color="primary" (click)="increaseByOne(element.quantity)">
              <mat-icon>add</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
    
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
          <mat-cell *matCellDef="let element"> ${{element.price}} </mat-cell>
        </ng-container>
    
        <!-- Total Price Column -->
        <ng-container matColumnDef="total_price">
          <mat-header-cell *matHeaderCellDef> Total Price</mat-header-cell>
          <mat-cell *matCellDef="let element"> ${{element.quantity * element.price}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

    <div class="right-container">
      <h5>Subtotal ({{countItems()}} item<span *ngIf="countItems()>1">s</span>):
         ${{calcSubTotal()}}
      </h5>
      <button mat-raised-button color="accent" routerLink="/checkout">
        Proceed to Checkout
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </div>

</div>

  
