<div class="content">
  
  <div class="page-container">
    <div class="left-container">
      <h4>Shopping Cart</h4>

      <mat-table #table [dataSource]="cartitems">

        <!-- Product Column -->
        <ng-container matColumnDef="product">
          <mat-header-cell  *matHeaderCellDef>Product</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            {{element.name}} 
          </mat-cell>

        </ng-container>
    
        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
          <mat-cell *matCellDef="let element" > 
            <button mat-icon-button color="primary" (click)="element.quantity = element.quantity - 1">
              <mat-icon>remove</mat-icon>
            </button>
            {{element.quantity}} 
            <button mat-icon-button color="primary" (click)="element.quantity = element.quantity + 1">
              <mat-icon>add</mat-icon>
            </button>
            ({{element.stock}} left)
          </mat-cell>
        </ng-container>
    
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
          <mat-cell *matCellDef="let element"> ${{element.price}} </mat-cell>
        </ng-container>
    
        <!-- Total Price Column -->
        <ng-container matColumnDef="total_price">
          <mat-header-cell *matHeaderCellDef> Total Price</mat-header-cell>
          <mat-cell *matCellDef="let element"> ${{element.quantity * element.price | number: '1.2-2'}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

    <div class="right-container">
      <h5>
        Subtotal ({{itemsCnt}} item<span *ngIf="itemsCnt>1">s</span>): ${{subTotal | number: '1.2-2'}}
      </h5>
      <button mat-raised-button (click)="updateCart()">
        Update Cart
      </button>
      <button mat-raised-button color="accent" routerLink="/checkout">
        Proceed to Checkout
        <mat-icon>navigate_next</mat-icon>
      </button>
      
    </div>
  </div>

</div>

  
