.parent-container{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.example-card {
    max-width: 250px;
    min-width: 200px;
    flex-basis: 30%;
    margin-bottom: 2em;
}
.in-stock{
    color: #2e7b32;
}
.out-of-stock{
    color: #d32f2f;
}